<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.southwushu.app.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.southwushu.app.perspectives.PersonPerspective"
            id="com.southwushu.app.perspectives.personperspective"
            name="Команды">
      </perspective>
      <perspective
            class="com.southwushu.app.perspectives.CompetitionPerspective"
            id="com.southwushu.app.perspectives.competitionperspective"
            name="Соревнования">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.southwushu.app.views.PersonExplorerView"
            id="com.southwushu.app.views.personexplorerview"
            name="Члены команд"
            restorable="true">
      </view>
      <view
            class="com.southwushu.app.views.CompetitionExplorerView"
            id="com.southwushu.app.views.competitionexplorer"
            name="Соревнования"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:com.southwushu.app.views.personexplorerview">
         <command
               commandId="com.southwushu.app.commands.create"
               id="com.southwushu.app.commands.create.dropdown"
               label="Создать..."
               style="pulldown">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:com.southwushu.app.views.personexplorerview">
         <command
               commandId="com.southwushu.app.commands.createperson"
               label="Create Person"
               style="push">
         </command>
         <command
               commandId="com.southwushu.app.commands.createteam"
               label="Create Team"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:com.southwushu.app.commands.create.dropdown">
         <command
               commandId="com.southwushu.app.commands.createperson"
               label="Create Person"
               style="push">
         </command>
         <command
               commandId="com.southwushu.app.commands.createteam"
               label="Create Team"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.southwushu.app.commands.personcommands"
            name="PersonCommands">
      </category>
      <command
            categoryId="com.southwushu.app.commands.personcommands"
            id="com.southwushu.app.commands.createteam"
            name="CreateTeam">
      </command>
      <command
            categoryId="com.southwushu.app.commands.personcommands"
            id="com.southwushu.app.commands.createperson"
            name="CreatePerson">
      </command>
      <command
            categoryId="com.southwushu.app.commands.personcommands"
            id="com.southwushu.app.commands.editteam"
            name="EditTeam">
      </command>
      <command
            categoryId="com.southwushu.app.commands.personcommands"
            id="com.southwushu.app.commands.editperson"
            name="EditPerson">
      </command>
      <command
            categoryId="com.southwushu.app.commands.personcommands"
            id="com.southwushu.app.commands.create"
            name="DropDownMenu">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.southwushu.app.editors.PersonEditor"
            default="false"
            id="com.southwushu.app.editors.personeditor"
            name="Карточка ученика">
      </editor>
      <editor
            class="com.southwushu.app.editors.TeamEditor"
            default="false"
            id="com.southwushu.app.editors.teameditor"
            name="Карточка команды">
      </editor>
      <editor
            class="com.southwushu.app.editors.ProtocolGraphicalEditor"
            default="false"
            id="com.southwushu.app.editors.protocolgraphicaleditor"
            name="Протокол">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.southwushu.app.handlers.CreatePerson"
            commandId="com.southwushu.app.commands.createperson">
      </handler>
   </extension>

</plugin>
